.changePasswordForm{
    color: white;
    font-family: "InterBlack";
    margin-left: 10px;
}

.changePasswordForm .btn{
    background-color: #D76525 !important;
}


.my-modal .modal-content{
    color: white;
    font-family: "InterBlack";
    margin-left: 10px;
    background-color: #363636;
}

.my-modal .modal-content .saveBtn{
    color: white;
    font-family: "InterBlack";
    margin-left: 10px;
    background-color: #D76525;
}