.authModalFrom{
    color: white;
    font-family: "InterBlack";
    margin-left: 10px;
}

.authModalFrom .btn{
    background-color: #D76525;
    border: transparent;
    --bs-btn-hover-bg: #1E1E1E;
    --bs-btn-hover-border-color: #363636;
}

.my-modal .modal-content{
    color: white;
    font-family: "InterBlack";
    margin-left: 10px;
    background-color: #363636;
}

.modal-footer {
    justify-content: center !important;
}

.registerUrl{
    color: #FFFFFF;
    font-family: "InterLight";
    font-size: 15px;
}

.registerUrl a{
    color: #D76525;
}