.infoOfferFrom{
    color: white;
    font-family: "InterBlack";
}

.infoOfferFrom .btn {
    --bs-btn-bg: #D76525;
    --bs-btn-hover-bg: rgba(215, 101, 37, 0.6);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-hover-border-color: #D76525;
    --bs-btn-border-color: transparent;
}

.infoOfferFrom .card{
    --bs-card-border-color: #1E1E1E;
}

.infoOfferFrom .card .card-header{
    background-color: #1E1E1E;
    --bs-card-cap-bg: transparent;
}

.my-modal .modal-content{
    color: white;
    font-family: "InterBlack";
    margin-left: 10px;
    background-color: #363636;
}

/*.my-modal .modal-content .saveBtn{*/
/*    --bs-btn-bg: #D76525;*/
/*    --bs-btn-hover-bg: rgba(215, 101, 37, 0.6);*/
/*    --bs-btn-active-bg: transparent;*/
/*    --bs-btn-active-border-color: transparent;*/
/*    --bs-btn-hover-border-color: #D76525;*/
/*    --bs-btn-border-color: transparent;*/
/*}*/