.contractCompanyInfoFrom{
    color: white;
    font-family: "InterBlack";
}

.contractCompanyInfoFrom .showBtn{
    --bs-btn-bg: #D76525;
    --bs-btn-hover-bg: rgba(215, 101, 37, 0.6);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-hover-border-color: #D76525;
    --bs-btn-border-color: transparent;
}

.contractCompanyDescription{
    background-color: #1E1E1E !important;
    max-height: 270px;
    overflow: auto;
}

.my-modal .modal-content{
    color: white;
    font-family: "InterBlack";
    margin-left: 10px;
    background-color: #363636;
}

